.twoFactorAuthentication-radio-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}


.twoFactorAuthentication-all-radiobtns {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.twoFactorAuthentication-radio-btn-container {
  padding-left: 36px;
  padding-top: 20px;
}
