.terminal-wrapper {
  background-color: var(--sidebar-bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 10px;
  color: #ffffff;
  transition: width 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.terminal-icon-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.terminal-area {
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.terminal-area.opening {
  max-height: 300px;
  opacity: 1;
}

.terminal-area.closing {
  max-height: 0;
  opacity: 0;
}

.terminal-area.closed {
  max-height: 0;
  opacity: 0;
}

@keyframes terminalSlideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes terminalSlideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.sidebar-slide {
  animation: slideIn 0.3s ease forwards;
}

.sidebar-close {
  animation: close 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes close {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(20px);
    opacity: 0;
  }
}
