.form-panel {
  border: 1px solid var(--border-color-primary);
  border-radius: 10px;
  padding: 33px 16px 16px 16px;
  position: relative;
  margin: 39px 0 17px 0;
  /* background-color: #fff; */
}

.form-panel.nested {
  padding: 30px 25px;
}

.form-panel-label {
  position: absolute;
  top: -10px;
  left: 12px;
  background-color: #fff;
  padding: 0 8px;
}

.form-panel-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-panel-options {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-input,
.form-select {
  /* width: 377px; */
  width: 39%;
  padding: 10px;
  border: 1px solid var(--border-color-primary);
  border-radius: 6px;
  background-color: var(--input-bg-primary);
  /* min-width: 200px; */
  outline: none;
  height: 38px;
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-primary);
  font-family: var(--font-family-primary);
}

.form-input:focus,
.form-select:focus {
  border-color: #3f51b5;
  background-color: #fff;
  box-shadow: none;
}

.form-button {
  width: 152px;
  height: 38px;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--sidebar-bg-primary);
  color: white;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.form-button:hover {
  background-color: #2f4357;
}

.form-onqlPanel-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin-top: 10px; */
}

.form-onql-checkbox {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.form-onql-options-container {
  margin-top: 10px;
  width: 100%;
  box-shadow: 0px 0px 8.4px 0px #00000040;
  border-radius: 6px;
  padding: 4px 10px;
}

.form-input-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formPanel-import-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formPanel-import-container.format {
  margin: 0;
}

.formPanel-import-container.export {
  margin-bottom: 20px;
}

.form-select.import {
  width: 100%;
}

.formPanel-togglebtn-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-input.import {
  width: 100%;
}

.formPanel-radiobtn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formPanel-checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--border-color-primary);
  border-radius: 10px;
  background-color: var(--header-bg-primary);
  /* width: 352px; */
  width: 32%;
  padding: 16px 20px;
}

.form-panel-allCheckbox {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 29px;
  padding-bottom: 20px;
  /* margin-bottom: 20px; */
}

.form-panel-allCheckbox-text {
  color: #0068c2;
  text-decoration: underline;
}

.form-input.import {
  /* width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap; */
  scrollbar-width: none;
  scroll-behavior: smooth;
}
