.featuresTabs-container {
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  background-color: var(--header-bg-primary);
  flex-wrap: wrap;
  overflow-x: auto;
  max-width: 100%;
}

.featuresTabs-tab {
  height: 30px;
  cursor: pointer;
  padding: 6px 20px;
  --hover-bg: #47647a1a; /* default value */
  transition: "background 0.2s";
}

.featuresTabs-tab:hover {
  background: var(--hover-bg);
}

.featuresTabs-tab.selected {
  background-color: var(--sidebar-bg-primary);
  color: var(--text-color-tertiary);
}
