.tableOptions-wrapper {
  margin-top: 26px;
  /* padding: 10px; */
}

.tableOptions-layout {
  display: flex;
  gap: 20px;
}

.tableOptions-labels {
  display: flex;
  flex-direction: column;
  /* gap: 18px; */
  flex-shrink: 0;

  width: 260px;
  border: 1px solid var(--border-color-primary);
  border-radius: 10px;
  padding: 0 10px;
}

.tableOptions-name {
  font-weight: var(--font-weight-tertiary);
  padding: 19px 0;
}

.tableOptions-columns {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.tableOptions-column {
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-width: 235px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.checkbox-wrapper {
  height: 40px;
  display: flex;
  align-items: center;
}
