.radio-btn {
  width: 18px;
  height: 18px;
  accent-color: #47647a;
  cursor: pointer;
}

.radioButton-container {
  display: flex;
  align-items: flex-start;
}

.radioButton-text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
